# IntelliJ
.idea/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
!diode-server/docker/diode/env/
!diode-server/docker/netbox/env/

# VS Code
.vscode

# macOS
.DS_Store

# Go
coverage.txt

# diode-server
diode-server/build/

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
build/
.eggs/
*.egg-info