DIODE_NGINX_PORT=8080
REDIS_PASSWORD=<PLACEHOLDER_SECRET>
REDIS_HOST=redis
REDIS_PORT=6378
REDIS_USERNAME=""
NETBOX_DIODE_PLUGIN_API_BASE_URL=<http://NETBOX_HOST>/api/plugins/diode
NETBOX_DIODE_PLUGIN_SKIP_TLS_VERIFY=false
LOGGING_LEVEL=DEBUG
SENTRY_DSN=
MIGRATION_ENABLED=true
RECONCILER_RATE_LIMITER_RPS=20
RECONCILER_RATE_LIMITER_BURST=1
DIODE_TO_NETBOX_RATE_LIMITER_RPS=20
DIODE_TO_NETBOX_RATE_LIMITER_BURST=1
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=<PLACEHOLDER_SECRET>
DIODE_POSTGRES_DB_NAME=diode
DIODE_POSTGRES_USER=diode
DIODE_POSTGRES_PASSWORD=<PLACEHOLDER_SECRET>
TELEMETRY_ENVIRONMENT=dev
TELEMETRY_METRICS_EXPORTER=prometheus
TELEMETRY_TRACES_EXPORTER=none
HYDRA_POSTGRES_DB_NAME=hydra
HYDRA_POSTGRES_USER=hydra
HYDRA_POSTGRES_PASSWORD=<PLACEHOLDER_SECRET>
HYDRA_STRATEGIES_ACCESS_TOKEN=jwt
HYDRA_STRATEGIES_REFRESH_TOKEN=jwt
HYDRA_STRATEGIES_JWT_SCOPE_CLAIM=both
HYDRA_TTL_ACCESS_TOKEN=1h
HYDRA_OIDC_SUBJECT_IDENTIFIERS_SUPPORTED_TYPES=public
HYDRA_URLS_SELF_ISSUER=http://127.0.0.1:4444
HYDRA_SECRETS_SYSTEM_0=<PLACEHOLDER_SECRET>
AUTH_HTTP_PORT=8080
OAUTH2_PUBLIC_SERVER_URL=http://hydra:4444
OAUTH2_ADMIN_SERVER_URL=http://hydra:4445
DIODE_AUTH_TOKEN_URL=http://diode-auth:8080/token
DIODE_TO_NETBOX_CLIENT_ID=diode-to-netbox
DIODE_TO_NETBOX_CLIENT_SECRET=<PLACEHOLDER_DIODE_TO_NETBOX_CLIENT_SECRET>
