name: "Python SDK - lint and tests"
on:
  workflow_dispatch:
  push:
    branches:
      - "!release"
    paths:
      - "diode-sdk-python/**"

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.7", "3.8", "3.9", "3.10", "3.11", "3.12" ]
    steps:
    - uses: actions/checkout@v4
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r src/requirements.txt
        pip install -r src/tests/requirements.txt

    - name: Run tests with coverage
      run: |
        set -o pipefail
        pytest --junitxml=pytest.xml --cov-report=term-missing:skip-covered --cov=diode-sdk-python/netboxlabs/ | tee pytest-coverage.txt

    - name: Pytest coverage comment
      uses: MishaKav/pytest-coverage-comment@main
      with:
        pytest-coverage-path: ./pytest-coverage.txt
        junitxml-path: ./pytest.xml

    - name: Lint with Ruff
      run: |
        pip install ruff
        ruff --output-format=github diode-sdk-python/netboxlabs/ diode-sdk-python/tests/
      continue-on-error: true
